body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.content-section {
    padding: 100px;
}

.section-heading {
    font-family: "Raleway";
    font-size: 45px;

    text-align: left;
    text-decoration: underline;

    padding-bottom: 100px;
}

.section-light {
    background-color: #ffffff;
}

.section-dark {
    background-color: #f5f5f5;
}

.sub-header {
    font-family: "Raleway";
    font-size: 30px;

    text-align: center;
    text-decoration: underline;
}

.sub-header-footer {
    font-family: "Raleway";
    font-size: 30px;

    text-align: center;
    text-decoration: underline;

    padding-top: 50px;
    padding-bottom: 20px;
}

.sub-header-left {
    font-family: "Raleway";
    font-size: 30px;

    text-align: left;
    text-decoration: underline;
}

.skill-set-image {
    height: 150px;
    width: 150px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    margin: 25px auto;
}

#desktop {
    background-image: url("../images/desktop.png");
}

#mobile {
    background-image: url("../images/mobile.png");
}

#web {
    background-image: url("../images/web.png");
}

#database {
    background-image: url("../images/database.png");
}

#user-interface {
    background-image: url("../images/user-interface.png");
}

#uml {
    background-image: url("../images/uml.png");
}

.footer-link {
    font-family: "Raleway";
    font-size: 20px;

    text-align: left;

    padding: 5px 5px 5px 0px;
}

.mid-header-left {
    font-family: "Raleway";
    font-size: 37px;

    text-align: left;
}


.logo-wrapper {
    text-align: center;
}

.p-mid {
    font-family: "Raleway";
    font-size: 18px;

    text-align: left;
}

.p-small {
    font-family: "Raleway";
    font-size: 16px;

    text-align: left;
}

#email-me-form {
    width: 100%;
}

#email-me-form span {
    color: red;
}

#email-me-form input {
    height: 45px;
    width: 75%;

    font-family: "Raleway";
    font-size: 18px;

    margin: 15px 0px;
}

#email-me-form textarea {
    height: 145px;
    width: 75%;

    margin: 15px 0px 0px 0px;
}

#submit-button {

}

.center {
    text-align: center;
}

.padded {
    padding-bottom: 15px;
}

.extra-padded {
    padding-bottom: 30px;
}

.extra-padding-top {
    padding-top: 15px;
}

.copyright {
    padding-top: 100px;
}

.section-black {
    background-color: #333;
}

#footer a {
    color: #ffffff;
}

#footer a:hover {
    text-decoration: underline;

    cursor: pointer;
}

.text-white {
    color: #ffffff;
}
