html {
  overflow: hidden;
  height: 100%;
}
body {
  overflow: auto;
  height: 100%;
}

/* unset bs3 setting */
.modal-open {
 overflow: auto;
}

.content-section {
    padding: 100px;
}

.section-heading {
    font-family: "Raleway";
    font-size: 45px;

    text-align: left;
    text-decoration: underline;

    padding-bottom: 100px;
}

.section-light {
    background-color: #ffffff;
}

.section-dark {
    background-color: #f5f5f5;
}

.sub-header {
    font-family: "Raleway";
    font-size: 30px;

    text-align: center;
    text-decoration: underline;
}

.sub-header-footer {
    font-family: "Raleway";
    font-size: 30px;

    text-align: center;
    text-decoration: underline;

    padding-top: 50px;
    padding-bottom: 20px;
}

.modal-launcher {
    cursor: pointer;
}

.modal-title {
    font-family: "Raleway";
    font-size: 25px;

    text-align: left;
}

.modal-text {
    padding: 15px 15px 15px 0px;
    font-size: 16px;
}

#doodle-jump-modal .modal-body {
    position: relative;
}

.sub-header-left {
    font-family: "Raleway";
    font-size: 30px;

    text-align: left;
    text-decoration: underline;
}

.skill-set-image {
    height: 150px;
    width: 150px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    margin: 50px auto;
}

#desktop {
    background-image: url("../images/desktop.png");
}

#mobile {
    background-image: url("../images/mobile.png");
}

#web {
    background-image: url("../images/web.png");
}

#database {
    background-image: url("../images/database.png");
}

#user-interface {
    background-image: url("../images/user-interface.png");
}

#uml {
    background-image: url("../images/uml.png");
}

.highlight-image {
    height: 275px;
    width: 275px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    margin: 50px auto;

    border-radius: 5px;
    box-shadow: 0px 0px 5px #333;
}

#car-hire {
    background-image: url("../images/car-hire.png");
}

#rusty-repairs {
    background-image: url("../images/rusty-repairs.png");
}

#careers-app {
    background-image: url("../images/careers-app.png");
}

#doodle-jump {
    background-image: url("../images/doodle-jump.png");
}

#pong {
    background-image: url("../images/pong.png");
}

#flappy-bird {
    background-image: url("../images/flappy-bird.png");
}

.footer-link {
    font-family: "Raleway";
    font-size: 20px;

    text-align: left;

    padding: 5px 5px 5px 0px;
}

.mid-header-left {
    font-family: "Raleway";
    font-size: 37px;

    text-align: left;
}

.no-underline {
    text-decoration: none;
}


.logo-wrapper {
    text-align: center;
}

.p-mid {
    font-family: "Raleway";
    font-size: 18px;

    text-align: left;
}

.p-small {
    font-family: "Raleway";
    font-size: 16px;

    text-align: left;
}

#email-me-form {
    width: 100%;
}

#email-me-form span {
    color: red;
}

#email-me-form input {
    width: 80%;

    font-family: "Raleway";
    font-size: 18px;

    margin: 0px 0px 15px 0px;
}

#email-me-form textarea {
    height: 145px;
    width: 80%;

    margin: 0px 0px 15px 0px;

    font-family: "Raleway";
    font-size: 18px;
}

.network-link {
    color: #212121;
}

.network-link:hover {
    color: #000000;
}

#submit-button {
    height: 50px;
    cursor: pointer;
}

.center {
    text-align: center;
}

.padded {
    padding-bottom: 15px;
}

.extra-padded {
    padding-bottom: 30px;
}

.extra-padding-top {
    padding-top: 15px;
}

.copyright {
    padding-top: 100px;
}

.section-black {
    background-color: #333;
}

#footer a {
    color: #ffffff;
}

#footer a:hover {
    text-decoration: underline;

    cursor: pointer;
}

.text-white {
    color: #ffffff;
}
