body {
    margin: 0px;
    padding: 0px;
    overflow-x: : hidden;
}

/* NAVIGATION BAR */

#nav-bar {
    text-align: center;
    background-color: #333;
}

#nav-bar p {
    margin: 15px;
    padding: 5px;
}

#nav-bar a {
    font-family: "Montserrat";
    font-size: 20px;

    text-decoration: none;
    color: white;

    cursor: pointer;
}

/* END OF NAVIGATION BAR */

/* SUMMARY (SLIDESHOW) */

#summary {
    height: 500px;

    margin: 0px;
    padding: 0px;
}

.image-stack {
    height: 500px;
    width: 100%;

    position: absolute;

    margin: 0px;
    padding: 0px;
}

#minigames {
    background-color: red;
}

#coding-passion {
    background-color: blue;
}

#stunning-websites {
    background-color: green;
}

/* END OF SUMMARY (SLIDESHOW) */
