body {
    margin: 0px;
    padding: 0px;
    overflow-x: : hidden;
}

/* NAVIGATION BAR */

#nav-bar {
    text-align: center;
    background-color: #333;
}

#nav-bar p {
    margin: 10px;
    padding: 5px;
}

#nav-bar a {
    font-family: "Montserrat";
    font-size: 20px;

    text-decoration: none;
    color: white;

    cursor: pointer;
}

/* END OF NAVIGATION BAR */

/* SUMMARY (SLIDESHOW) */

#summary {
    height: 500px;

    margin: 0px;
    padding: 0px;
}

.image-stack {
    height: 600px;
    width: 100%;

    position: absolute;

    margin: 0px;
    padding: 0px;

    z-index: 1;
}

#minigames {
    background-image: url('images/game-photo.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#coding-passion {
    background-image: url('images/code-photo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#stunning-websites {
    background-image: url('images/stunning-web-picture1.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slideshow-controls {
    text-align: center;
}

.slideshow-control-button {
    height: 25px;
    width: 25px;

    margin: 2px;
    padding: 2px;

    border-radius: 10px;
    border: 2px solid white;

    background-color: #333;

    position: relative;
    top: 560px;
    display: inline-block;

    cursor: pointer;

    z-index: 9999;
}

.active {

}

.not-active {

}

/* END OF SUMMARY (SLIDESHOW) */
